
:root {
    --bulma-link-h: 187deg;
    --bulma-info-h: 209deg;
    --bulma-warning-h: 73deg;
    --bulma-danger-h: 360deg;
    --bulma-danger-l: 50%;
    --bulma-primary-h: 206deg;
    --bulma-primary-l: 59%;
    --bulma-success-h: 107deg;
    --bulma-success-s: 29%;
    --bulma-success-l: 60%;
  }
textarea{
    max-height: 50px;
}
.is-rounded{
margin-top:3%;
margin-bottom:3%;
}

.radioSino{
    margin-bottom: 2%;
    margin-left: 2%;
}
.si{
    margin-right: 2%;
}
.no{
    margin-left: 2%;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    display: inline-block;
}

input[type="radio"] {
    border-radius: 4px; 
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background-color: #00b044;
}

input[type="checkbox"]:checked::after, input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

input[type="radio"]:checked::after {
    width: 10px;
    height: 10px;
    border-radius: 2px; 
}
